Source: coral
Maintainer: Lars T. Kyllingstad <lars.kyllingstad@sintef.no>
Section: science
Priority: optional
Build-Depends: cmake (>= 3), debhelper (>= 9), doxygen (>= 1.8), libboost-dev (>= 1.55), libboost-chrono-dev (>= 1.55), libboost-filesystem-dev (>= 1.55), libboost-program-options-dev (>= 1.55), libboost-random-dev (>= 1.55), libboost-system-dev (>= 1.55), libboost-thread-dev (>= 1.55), libfmilib2-dev (>= 2), libprotobuf-dev (>= 2.5), libzip-dev (>= 0.11), libzmq3-dev | libzmq5-dev, protobuf-compiler (>= 2.5)
Standards-Version: 3.9.2
Homepage: http://viproma.no
Vcs-Browser: https://github.com/viproma/coral
Vcs-Git: https://github.com/viproma/coral.git

Package: coral
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Distributed co-simulation software
 This package contains simple command-line applications for running distributed
 simulations.

Package: libcoral-dev
Architecture: any
Section: libdevel
Depends: libboost-dev (>= 1.55), libboost-chrono-dev (>= 1.55), libboost-filesystem-dev (>= 1.55), libboost-program-options-dev (>= 1.55), libboost-random-dev (>= 1.55), libboost-system-dev (>= 1.55), libboost-thread-dev (>= 1.55), libfmilib2-dev (>= 2), libzip-dev (>= 0.11), libprotobuf-dev (>= 2.5), libzmq3-dev | libzmq5-dev, ${misc:Depends}
Description: C++ library for distributed co-simulation (Development files)
 This package contains the static library, header files and documentation needed
 for development with Coral.
